html {
	font-family: Lucida, Arial, sans-serif;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

body {
	padding: 0px;
	margin: 0px;
	height: 1px;	
}

.background {
	background: -moz-linear-gradient(left top, #145199, #427FC8);
	background: -webkit-gradient(linear, left top, right bottom, from(#145199), to(#427FC8));
}

#titlePanel {
	color: white;
	font-family: arial black;
	height: 110px;
	position: relative;
}

#title {
	text-transform: lowercase;
	letter-spacing: -6pt;
	font-size: 60pt;
	position: absolute;
	bottom: 0;
	left: 10px;
}

#pageAtts {
	text-align: right;
	font-size: 25pt;
	position: absolute;
	bottom: 15px;
	right: 10px;
	letter-spacing: -2pt;
}

.pageLabel {
	font-family: arial;
	font-size: 20pt;
}

#instructions {
	font-size: 18pt;
	padding: 10px;
}

#infoPanel {
	background: -webkit-gradient(linear, left top, right bottom, from(#78B5FD), to(#145199));
	background: -moz-linear-gradient(left top, #78B5FD, #145199);
	width: 100%;
	position: absolute;
	bottom: 0;
	-webkit-box-shadow: 0 -15px 15px rgba(0, 0, 0, .4);
}

#info {
	margin: 10px;
}

.spaceLabel {
	text-align: center;
}

.taxiPanelFull .taxiBoxLeft {
	border-right: 3px solid rgba(58, 58, 58, 0.4);	
	color: #222;
}

.taxiPanelFull .idLabel {
	color: #333;
}

.taxiPanelLeft .idLabel {
	color: #444;
}

.taxiPanelFull .taxiBoxRight {
	border-left: 3px solid rgba(58, 58, 58, 0.4);	
}

.taxiPanelLeft .taxiBoxLeft {
	border-right: 3px solid rgba(58, 58, 58, 0.2);		
}

.taxiPanelLeft .taxiBoxRight {
	border-left: 3px solid rgba(58, 58, 58, 0.2);		
	color: #222;
}


.idLabel {
	color: yellow;
	width: 180px;
	padding-left: 40px;
	font-family: arial black;
	letter-spacing: -3pt;
	font-size: 30pt;
	padding-top: 20px;	
}

.taxiBoxLeft
{	
	float: left;
	border-right: 3px solid #1263B0;
	margin: 10px 0px;
	padding: 0px 20px;
}

.taxiBoxMid
{	
	float:left;
	margin: 10px 0px;
	padding: 0px 20px;
}

.taxiBoxRight
{
	float:right;
	border-left: 3px solid #1263B0;
	margin: 10px 0px;
	padding: 0px 20px;	
}	

#activePanel {
	background-color: transparent;
	width: 100%;
	position: absolute;
}

.taxiPanel,.taxiPanelFull,.taxiPanelLeft {
	margin-bottom: 10px;
	overflow: auto;
	border-top-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
}

.menuItem {
	width: 100%;
	text-align: center;
	display: block;
}	

.taxiPanel {
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.29, #1263B0), color-stop(0.65, #2E84D4));
	background: -moz-linear-gradient(bottom, #1263B0 29%, #2E84D4 65% );
	border: 3px solid #1263B0;
	-webkit-box-shadow: 5px 5px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 5px 5px 3px rgba(0, 0, 0, .4);
}

.taxiPanelFull {
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.29, rgba(58
		, 58, 58, 0.4) ), color-stop(0.65, rgba(85, 85, 85, 0.4) ) );
	background: -moz-linear-gradient(bottom, rgba(58
		, 58, 58, 0.4) 29%, rgba(85, 85, 85, 0.4) 65% );		
	border: 3px solid rgba(58, 58, 58, 0.4);
	-webkit-box-shadow: 5px 5px 3px rgba(0, 0, 0, .2);
	-moz-box-shadow: 5px 5px 3px rgba(0, 0, 0, .2);
	color: #333;
}

.taxiPanelLeft {
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.29, rgba(58
		, 58, 58, 0.2) ), color-stop(0.65, rgba(85, 85, 85, 0.2) ) );
	background: -moz-linear-gradient(bottom, rgba(58, 58, 58, 0.2) 29%,
		rgba(85, 85, 85, 0.2) 65% );
	border: 3px solid rgba(20, 20, 20, 0.2);
	-webkit-box-shadow: 5px 5px 3px rgba(0, 0, 0, .2);
	-moz-box-shadow: 5px 5px 3px rgba(0, 0, 0, .2);
	color: #444;	
}

#destinationPanel {
	background: white;
	width: 100%;
	padding: 5px 0px 5px 300px;
	margin-bottom: 10px;
	border-bottom: 2px solid #646464;
	color: #646464;
}

.destinationPanelScroll {
	overflow-x: -webkit-marquee;
	-webkit-marquee-direction: backwards;
	-webkit-marquee-style: scroll;
	-webkit-marquee-speed: fast;
	-webkit-marquee-increment: small;
}

.destinationTitleLabel,.destinationLabel {
	padding: 0px 10px 0px 10px;
}

.destinationTitleLabel {
	text-transform: lowercase;
	letter-spacing: -2pt;
	font-size: 20pt;
	font-family: arial black;
	position: fixed;
	left: 0px;
	background: white;
	z-index: 1;
}

.infoLabel {
	font-size: 15pt;
	text-align: center;
}

.destinationLabel {
	padding: 5px 20px;
	position: relative;
	z-index: 0;
	font-size: 18pt;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: -1pt;
}

#phoneNumber {
	text-transform: lowercase;
	letter-spacing: -3pt;
	font-size: 40pt;
	font-family: arial black;
	line-height: 75%;
}

.phonePanel {
	float: left;
	padding: 20px;
	text-align: center;
}

#example {
	text-transform: lowercase;
	letter-spacing: -2pt;
	font-size: 20pt;
	font-family: arial black;
}

.idLabel,.destinationNameLabel {
	padding-top: 20px;
}

.fareLabel {
	text-align: center;
	line-height: 38pt;
}

.spaceLeftLabel,.idLabel,.destinationNameLabel,.fareLabel {
	font-family: arial black;
	letter-spacing: -3pt;
	font-size: 30pt;
}

.timeLabel {
	font-family: arial black;
	letter-spacing: -1pt;
	font-size: 15pt;
	text-align: center;
}
 
.taxiPanelLeft .gwt-Image {
	opacity: 0.4;	
}

.taxiPanelLeft .fadedIcon {
	opacity: 0.2;	
}

.fadedIcon {
	opacity: 0.4;
}