/javax.persistence_2.0.1.v201006031150.jar
/gwt-servlet.jar
/org.eclipse.persistence.core_2.1.1.v20100817-r8050.jar
/org.eclipse.persistence.jpa_2.1.1.v20100817-r8050.jar
/org.eclipse.persistence.antlr_2.1.1.v20100817-r8050.jar
/org.eclipse.persistence.asm_2.1.1.v20100817-r8050.jar
/mysql-connector-java-5.1.14-bin.jar
