<?xml version="1.0" encoding="UTF-8"?>
<web-app id="taxishare-service" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>getInstance</servlet-name>		
		<servlet-class>uk.ac.horizon.taxishare.server.GetInstance</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>reset</servlet-name>		
		<servlet-class>uk.ac.horizon.taxishare.server.Reset</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>receiveMessage</servlet-name>		
		<servlet-class>uk.ac.horizon.taxishare.server.ReceiveMessage</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>receiveMessage</servlet-name>
		<url-pattern>/receiveMessage</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>reset</servlet-name>
		<url-pattern>/reset</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>getInstance</servlet-name>
		<url-pattern>/getInstance</url-pattern>
	</servlet-mapping>
</web-app>