<?xml version="1.0" encoding="UTF-8"?>
<web-app id="taxishare-service" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>getInstance</servlet-name>		
		<servlet-class>uk.ac.horizon.taxishare.server.GetInstance</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>reset</servlet-name>		
		<servlet-class>uk.ac.horizon.taxishare.server.Reset</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>receiveMessage</servlet-name>		
		<servlet-class>uk.ac.horizon.taxishare.server.ReceiveMessage</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>setTime</servlet-name>		
		<servlet-class>uk.ac.horizon.taxishare.server.SetTime</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>setFare</servlet-name>		
		<servlet-class>uk.ac.horizon.taxishare.server.SetFare</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>setStatus</servlet-name>		
		<servlet-class>uk.ac.horizon.taxishare.server.SetStatus</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>setCompany</servlet-name>		
		<servlet-class>uk.ac.horizon.taxishare.server.SetCompany</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>setCompany</servlet-name>
		<url-pattern>/setCompany</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>setStatus</servlet-name>
		<url-pattern>/setStatus</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>setTime</servlet-name>
		<url-pattern>/setTime</url-pattern>
	</servlet-mapping>	

	<servlet-mapping>
		<servlet-name>setFare</servlet-name>
		<url-pattern>/setFare</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>receiveMessage</servlet-name>
		<url-pattern>/receiveMessage</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>reset</servlet-name>
		<url-pattern>/reset</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>getInstance</servlet-name>
		<url-pattern>/getInstance</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>